#root {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
}

.sky {
  min-height: 30vh;
}

.ground {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: end;
  min-height: 55vh;
}

.home-neighbourhood {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: end;
  gap: 20px;
  justify-self: flex-end;
}

.home-section {
  display: grid;
  justify-items: center;
}

.battery-section {
  display: grid;
  justify-items: center;
}

.sun-section {
  display: grid;
  justify-items: center;
}

.grid-section {
  display: grid;
  justify-items: center;
}

.flex-c {
  display: flex;
  align-items: center;
}

.unavailable-data-feedback {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.date-time {
  position: absolute;
  top: 20;
  left: 10;
}

@media screen and (max-width: 756px) {
  .home-neighbourhood {
    grid-template-columns: 1fr;
    justify-self: center;
    justify-items: center;
  }

  .ground {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
