:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #213547;
  background-color: #ffffff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #efefff;
}
